<!DOCTYPE HTML>

<html>
<% include header %>
<head>
<title>Monroe Veterans</title>

</head>
<body bgcolor="#819FF7">
<div style="text-align: center; font-style:cursive">
<img src="images/vet1.jpg" />
</div>


<p>Monroe College has one of the largest veteran populations of any college in the New York Metropolitan area.With a staff of Military Benefit Specialists, Veterans Admissions Counsellors and a Director of Military Affairs that oversees the school's Office of Veterans Affairs, Monroe is committed to guiding veterans through the application process, helping them take advantage of the benefits and financial aid options available to them to help assist with transitioning from the military life back to the civilian world.  </p>
<p>Each college included in the U.S. News & World Report’s online programs for veterans list was recognized in the publication’s 2014 overall best online program rankings, released earlier this year. Monroe ranked third out of the five programs in New York State that made that list, with a tuition that is one-quarter the cost of colleges with higher rankings</p>
<p> Monroe College, a national leader in urban and international education, on June,2 2014 announced that it was recognized by U.S. News & World Report as having one of the best online bachelor’s degree programs for veterans in the nation. Monroe ranked number one out of the two colleges in New York State included in the list.
</p>


<iframe type="text/html" 
    width="640" 
    height="385" 
    src="https://www.youtube.com/embed/Kj7w7gS5tQc"
    allowfullscreen="allowfullscreen"
    frameborder="0">
</iframe>
 <h4>   
<a href="https://www.monroecollege.edu/Admissions-and-Aid/Admissions/Veteran/" target="_blank" > Veteran Student Admissions </a></li>&nbsp;&nbsp;&nbsp;&nbsp;.
<a href="https://www.monroecollege.edu/uploadedFiles/Content/About_Monroe/MC_VeteransBroPr2_120414.pdf" target="_blank" > Monroe Veterans </a></li>&nbsp;&nbsp;&nbsp;&nbsp;.
<a href="http://www.prweb.com/releases/2014/06/prweb11906047.htm" target="_blank" > Online Bachelor's Degree Programs for Veterans  </a></li>&nbsp;&nbsp;&nbsp;&nbsp;.
</h4>
<br>
<h2>Find Us Here!</h2>
<script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script><div class="gmap"><div id='gmap_canvas' style='height:440px;width:100%;'></div><div><small><a href="http://embedgooglemaps.com">									embed google maps							</a></small></div><div><small><a href="http://www.buywebtrafficexperts.com">buy targeted traffic</a></small></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div><script type='text/javascript'>function init_map(){var myOptions = {zoom:16,center:new google.maps.LatLng(40.865244677241336,-73.90207391072848),mapTypeId: google.maps.MapTypeId.HYBRID};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(40.865244677241336,-73.90207391072848)});infowindow = new google.maps.InfoWindow({content:'<strong>Monroe College  Office of Veteran’s Services</strong><br>2501 Jerome Avenue  Bronx, NY 10468<br>'});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>

</body

<% include footer %>
</html>