<html>
<% include header %>
    <link href="stylesheets/admissions.css" rel="stylesheet">
    <li>

        <div id="ctl00_cphMainContent_dzMainContent_dzMainContent_uxColumnDisplay_ctl00_uxControlColumn_ctl01_uxWidgetHost_uxUpdatePanel">

            <div data-ux-pagebuilder="Widget">

                <div class="admissions-main">

                    <div class="WidgetContent RTF ">
                        <h1>Admissions Deadlines</h1>
                        <p style="text-align: justify; color: white"></p>
                        <p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; Important Deadlines for Spring 2016 Admission</strong></p>
                        <table border="1" dropzone="copy" style="width: 100%;">
                            <tbody>
                                <tr>
                                    <td style="cursor: default;">Application Deadline &nbsp;</td>
                                    <td style="cursor: default;">Saturday, April 29<sup>th</sup>, 2016&nbsp;</td>
                                </tr>
                                <tr>
                                    <td style="cursor: default;">Spring Classes Begin&nbsp;</td>
                                    <td style="cursor: default;">Friday, April 29<sup>th</sup>, 2016
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <p>&nbsp;</p>
                        <p>Monroe College accepts applications on a rolling basis.&nbsp; However, students accepted prior to January 31<sup>st</sup>&nbsp;are reviewed first for academic scholarships and institutional grants. After March 31<sup>st</sup>,
                            Scholarships and grants are awarded based on the available budget. </p>
                        <p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; Important Deadlines for Fall 2016 Admission</strong>                            </p>
                        <table border="1" dropzone="copy" style="width: 100%;">
                            <tbody>
                                <tr>
                                    <td style="cursor: default;">&nbsp;Early Start Application Deadline*</td>
                                    <td style="cursor: default;">&nbsp;Wednesday, June 1<sup>st</sup>, 2016</td>
                                </tr>
                                <tr>
                                    <td style="cursor: default;">&nbsp;Housing Application Deadline</td>
                                    <td style="cursor: default;">&nbsp;Monday, June 6<sup>th</sup>, 2016</td>
                                </tr>
                                <tr>
                                    <td style="cursor: default;">&nbsp;Fall Classes Begin</td>
                                    <td style="cursor: default;">&nbsp;Friday, September 9<sup>th</sup>, 2016</td>
                                </tr>
                            </tbody>
                        </table>
                        <p>&nbsp;</p>
                        <p>*Students wishing to begin their college experience early, may begin the Early Start semester on Monday, August 8th.</p>
                        <p>
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </li>

    <!--
        <meta charset="UTF-8">
        <meta name="description" content="https://www.monroecollege.edu/Admissions-and-Aid/Admissions/Veteran/ is where we found the table above">
        <meta name="keywords" content="HTML">
        <meta name="author" content="MONROE COLLEGE">
    -->
</html>