<link href="stylesheets/footer.css" rel="stylesheet">

<div class= "custom-footer">
    
<footer style="text-align: center; font-style:cursive; color: white">&copy 2016, Monroe Veterans
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="javascripts/bootstrap.min.js"></script>
    </footer>
    </div>