<html>
	<title>Monroe Veterans</title>
<% include header %>




<style type="cursive">
#cf {
position: center;
height: 181px;
width: 450px;
margin: 0 auto;
}

#cf img {
	position: center;
	left:0;
	-webkit-transition: opacity is ease-in-out;
	-moz-transition: opacity is ease-in-out;
	-o-transition: opacity is ease-in-out;
	transition: opacity is ease-in-out;
	}
#cf img.top:hover{
opacity:0;
}

</style>
</head>
<body bgcolor="white">
<div id="cf">
</div>
<table class="menu" style="border-style:none">
<tr>
<td class="menuicon"><a href="/">Home</a></td>
<td class="menupipe"<|</td>

<td class="menuicon"><a href="/registration">Registration</a></td>
<td class="menupipe"<|</td>

<td class="menuicon"><a href="/about">About</a></td>
</tr>
</table>
<p> Monroe College has one of the largest veteran populations of any college in the New York Metropolitan area. In fact, we were recognized by U.S. News& World Report as having one of the best online bachelor’s degree programs for veterans in the nation. 
With a staff of Military Benefit Specialists, Veterans Admissions Counselors and a Director of Military Affairs that oversees the school’s Office of Veterans Affairs, Monroe is committed to guiding veterans through the application process, helping them take advantage of the benefits and financial aid options available to them.
Additionally, the GI Bill makes it possible for many veterans to attend Monroe College for free.
</p>


<hr style="height:10px; background-color:"Blue"; width:100%"/>
<footer style="text-align: center; font-style:cursive">
&copy 2016, Monroe Veterans

</body>



<% include footer %>
</html>
