<html>
	<title>Monroe Veterans</title>
<% include header %>
<link href="stylesheets/home.css" rel="stylesheet">



<style type="cursive">
#cf {
position: center;
height: 181px;
width: 450px;
margin: 0 auto;
color: #333;
}

#cf img {
	position: center;
	left:0;
	-webkit-transition: opacity is ease-in-out;
	-moz-transition: opacity is ease-in-out;
	-o-transition: opacity is ease-in-out;
	transition: opacity is ease-in-out;
	}
#cf img.top:hover{
opacity:0;
}

</style>
</head>
<body bgcolor="white">
<div id="cf">
</div>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
    <li data-target="#myCarousel" data-slide-to="5"></li>
    <li data-target="#myCarousel" data-slide-to="6"></li>
    <li data-target="#myCarousel" data-slide-to="7"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="images/vet6.jpg" class="slideimage" alt="vet6">
    </div>

    <div class="item">
      <img src="images/vet8.jpg" height="100px" alt="vet8">
    </div>

    <div class="item">
      <img class="large-img" src="images/vet3.JPG" height="100" alt="vet3">
    </div>

    <div class="item">
      <img class="large2-img"src="images/vet4.JPG" height="100" alt="vet4">
    </div>
    
    <div class="item">
      <img src="images/vet9.jpg" height="100" alt="vet9">
    </div>
    
    <div class="item">
      <img class="large-img" src="images/vet10.jpg" height="100" alt="vet10">
    </div>
    
    <div class="item">
      <img src="images/vet7.jpg" height="100" alt="vet7">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<br><p> Founded in 1933, New York-based Monroe College is a nationally ranked private institution of higher learning with a student-centric learning approach that prioritizes hands-on academic experiences, practical and relevant academic programs, flexible learning schedules, best-in-class instructional technologies, and committed and engaged faculty to ensure that students are well positioned for career success upon graduation. Monroe College graduates more minority students than any other college in New York State.
</p><br>

<br><p>Monroe College offers Certificate, Associate, Bachelor's, and Master's degree programs. It has campuses in the Bronx, New Rochelle, as well as in the Caribbean nation of St. Lucia, with programs offered through its Schools of Criminal Justice, Information Technology, Nursing, Education, Business & Accounting, Hospitality Management and Culinary Arts, and Allied Health Professions, as well as through its liberal arts and continuing education programs, and its King Graduate School. The institution was listed in the fall of 2013 by U.S. News & World Report as the most affordable ranked private college in New York State. For more information and admissions criteria, please visit http://www.monroecollege.edu.
</p><br>

<head>
<meta charset="UTF-8">
<meta name="description" content="https://www.monroecollege.edu/Admissions-and-Aid/Admissions/Veteran/ is where we found the paragraph">
<meta name="keywords" content="HTML,CSS,JavaScript">
<meta name="author" content="MONROE COLLEGE">
</head>
</body>



<% include footer %>
</html>
